/* Default Body Settings */

body {
width: 100%;
margin: 0 auto;
font-family: lato;
}

a {
  text-decoration: none;
  color: black
}

#nav, #content, header, footer {
  text-align: center;
}

#nav, footer {
  padding: 0.5em 0;
  background-color: #00585F;
}

#nav a {
  text-decoration: none;
  color: white;
}

a:hover {
 color: orange;
}

/* Header content */

header {
  background-color: #00585F;
  padding: 2.5%;
}

header a {
  color: white;
  text-decoration: none;
}

#nav a:hover {
 color: orange;
}

h1 {
  margin: 0;
  font-size: 2.75em;
}

.contact {
  position: absolute;
  right: 3%;
}

#nav {
  color: white;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  padding: 0.5em;
  font-size: 1.25em;
}

/* Main content */

#content-container {
  overflow: auto;
  color: black;
  height: 150vw;
  background-color: #FCFCF3;
}

#homepage-txt1, #homepage-txt2 {
  position: absolute;
  width: 35vw;
  margin: 0;
}

#homepage-txt1 {
  left: 57vw;
  top: 30vw;
}

#homepage-txt2 {
  left: 9vw;
  top: 70vw;
}

#homepage-img1 {
  width: 35vw;
  border-radius: 1.5em;
  position: absolute;
  top: 30vw;
  left: 9vw;
}

#homepage-img2 {
  width: 35vw;
  border-radius: 1.5em;
  position: absolute;
  top: 70vw;
  left: 57vw;
}

/* Footer content */

footer {
  color: white;
}

/* Blog content */

.blog-content {
  margin: 0;
  text-align: center;
}

.blog-title {
  color: black;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;

}

.blog-img {
  width: 10%;
}

