

body {
  font-family: lato;
  background-color: #6DD988;

}

h1 {
  color: white;
  text-align: center;
  padding: 2em 1em;
  margin: 0;
  font-size: 3em;
}

.nav-bar {
  margin-bottom: 6em;
}

.contact-link {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.nav-bar a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
  left: 30%;
  padding: .6em;
}

a:hover {
  color: #E86F2A;
}

p {
  padding: 1em 3em 1em 3em;
  color: black;
}

#column1, #column2 {
  float: left;
  width: 50%;
  margin: 0;
  position: relative;
}

.contact-link {
  position: relative;
  float: right;
  right: 4em;
  font-size: 1.25em;
}

.personal-link {

}

.portfolio-link {

}

.blog-link {

}

.music-link {

}

.blog-content {

}

.blog-img {
  height: 15em;
  width: 25em;
  border-radius:10%;
  position: relative;
  left: 4.531em;
}

.blog-title {
  display: relative;
  left: 3em;
}




