/* Default Body Settings */

body {
width: 100%;
margin: 0 auto;
font-family: lato;
}

a {
  text-decoration: none;
  color: black
}

#nav, #content, header, footer {
  text-align: center;
}

#nav, footer {
  padding: 0.5em 0;
  background-color: #00585F;
}

#nav a {
  text-decoration: none;
  color: white;
}

a:hover {
 color: orange;
}

/* Header content */

header {
  background-color: #00585F;
  padding: 2.5%;
}

header a {
  color: white;
  text-decoration: none;
}

#nav a:hover {
 color: orange;
}

h1 {
  margin: 0;
  font-size: 2.75em;
}

.contact {
  position: absolute;
  right: 3%;
}

#nav {
  color: white;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  padding: 0.5em;
  font-size: 1.25em;
}

/* Main content */

#content-container {
  overflow: auto;
  color: black;
  height: 150vw;
  background-color: #FCFCF3;
}

#homepage-txt1, #homepage-txt2 {
  position: absolute;
  width: 35vw;
  margin: 0;
}

#homepage-txt1 {
  left: 57vw;
  top: 30vw;
}

#homepage-txt2 {
  left: 9vw;
  top: 70vw;
}

#homepage-img1 {
  width: 35vw;
  border-radius: 1.5em;
  position: absolute;
  top: 30vw;
  left: 9vw;
}

#homepage-img2 {
  width: 35vw;
  border-radius: 1.5em;
  position: absolute;
  top: 70vw;
  left: 57vw;
}

/* Footer content */

footer {
  color: white;
  height: 6vw;
}

/* Blog content */

.blog-content-container {
  margin: 0;
  position: relative;
  height: 200em;
  width: 100%;
  bottom: 1.6em;
  background-color: #FCFCF3;
}

.blog-content {
 width: 70vw;

 }

.blog-info {
  color: black;
  position: relative;
  left: 15vw;
  top: 10vw;
  padding-bottom: 3vw;
  margin-top: 2em;
  border-bottom: 1px black solid;
}

.blog-info:hover {
  background-color: lightblue;
  border-radius: 1.7em 2em;

}

#blog-title {
  position: absolute;
  top: 0vw;
  left: 25vw;
  font-size: 1.3em;
}

.blog-info p {
  position: absolute;
  top: 2vw;
  left: 25vw;
}

#blog-date {
  position: absolute;
  top: 0em;
  right: 1.5em;
}

.blog-img {
  width: 20vw;
  border-radius: 3em;
}

/* Styling for individual blog posts */

.blog-post-title h2 {
  margin-left: 20%;
  padding-top: 3em;
  font-size: 2em;
}

.blog-post-title h3 {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.3em;
}

.blog-post-title h4 {
  margin-left: 20%;
  margin-right: 20%;
}

.blog-post-p1, .blog-post-p2, .blog-post-p3 {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.2em;
  padding-top: 1em;
}



